@import "./utils/_mixins";
@import "./utils/_variables";
@import "./base/typography";
@import "./layouts/footer";
@import "./layouts/header";
@import "./pages/menu.scss";


body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0px;
}
h1{
    font-family: "Roboto-bold";
}
h2{
    font-family: "Roboto-bold";
}

@include loader();

header{
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px lightgrey;
    & img{
        width: 190px;
        height: auto;
    }
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    padding: 10px;
    font-size: 14px;
    & p{
        margin: 0px 0px 0px 10px;
    }    
}

.description{
    text-align: center;
    background: #f4f4f4;
    padding: 20px 0px 20px 0px;
    & p{
        padding: 10px 50px 10px 50px;
        margin: 0px;
        font-size: 18px;
        font-family: "Roboto-bold";
    }
    & span{
        display: inline-block;
        margin: 0px;
        padding: 0px 20px 0px 20px;
        font-size: 14px;
        font-family: "Roboto-light";
    }
    &_button{
        @include button();
        &:hover{
            box-shadow: 2px 2px 7px grey;
            background: linear-gradient(to top left, lighten($primary-color, 2%), lighten($secondary-color, 10%));
        }
    }
    & a{
        width: auto;
    }
}



.fonctionnement{
    margin: 30px 20px 0px 20px;
    &_titre{
        font-size: 22px;
        font-family: "Roboto-bold";
    }
    &__steps{
        margin: 10px;

    }
    &__step1{
        @include steps()
    }
    &__number1{
        @include numbers()
    }
    &__step2{
        @include steps();
    }
    &__step3{
        @include steps();
        & i{
            color: $primary-color;
        }
    }
    &__number2{
        @include numbers()
    }
    &__number3{
        @include numbers()
    }
    & a{
        text-decoration: none;
        color: black;
        margin: 10px;
    }


}

.restaurants{
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    &_titre{
        margin-left: 20px;
            font-size: 22px;
            font-family: "Roboto-bold";
    }
    &_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px 0px 20px;
            & a{
                width: 100%;
                margin-bottom: 20px;
                text-decoration: none;
            }
            &_link1 {
               @include restaurants_links();
               background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
               background-position-y: -70px;
               @include new_icon();
            }
            &_link2{
                @include restaurants_links();
                background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                background-position-y: -60px;
                @include new_icon();
            }
            &_link3{
                @include restaurants_links();
                background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                background-position-y: -90px;
            }
            &_link4{
                @include restaurants_links();
                background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                background-position-y: -80px;
            }
    }
}

.footer_accueil{
    @include footer-style(); 
}


/* ------------------------
  |      MEDIA QUERY 1    |
   ----------------------- */


@media all and (min-width:481px) and (max-width:800px){

    .fonctionnement{
        &__steps{
            width: 70%;
            margin: auto;
        }
    }

    .restaurants{
        &_div{
            &_link1{
                height: 200px;
                &_text{
                    top: 150px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link2{
                height: 200px;
                &_text{
                    top: 150px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link3{
                height: 200px;
                &_text{
                    top: 150px;
                }
            }
            &_link4{
                height: 200px;
                &_text{
                    top: 150px;
                }
            }
        }
    }
    
}


/* ------------------------
  |      MEDIA QUERY 2    |
   ----------------------- */

@media all and (min-width:801px) and (max-width:1024px){

    .fonctionnement{
        &__steps{
            width: 70%;
            margin: auto;
        }
    }
    .restaurants{
        &_div{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            & a{
                width: 45%;
            }
            &_link1{
                height: 200px;
                &_text{
                    top: 150px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link2{
                height: 200px;
                &_text{
                    top: 150px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link3{
                height: 200px;
                &_text{
                    top: 150px;
                }
            }
            &_link4{
                height: 200px;
                &_text{
                    top: 150px;
                }
            }
        }
    }
}


/* ------------------------
  |      MEDIA QUERY 3    |
   ----------------------- */


@media all and (min-width:1025px){

    .fonctionnement{
        &__steps{
            width: 50%;
            margin: auto;
        }
    }
    .restaurants{
        &_div{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            & a{
                width: 45%;
            }
            &_link1{
                height: 250px;
                &_text{
                    top: 200px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link2{
                height: 250px;
                &_text{
                    top: 200px;
                }
                &_new{
                    font-size: 13px;
                }
            }
            &_link3{
                height: 250px;
                &_text{
                    top: 200px;
                }
            }
            &_link4{
                height: 250px;
                &_text{
                    top: 200px;
                }
            }
        }
    }
}

