@import "./utils/_mixins";
@import "./utils/_variables";
@import "./base/typography";
@import "./layouts/footer";
@import "./layouts/header";
@import "./pages/menu.scss";


body{
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 0px;
}
h1{
    font-family: "Roboto-bold";
}
h2{
    font-family: "Roboto-bold";
}

header{
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px lightgrey;
    & img{
        width: 190px;
        height: auto;
    }
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    padding: 10px;
    font-size: 14px;
    & p{
        margin: 0px 0px 0px 10px;
    }    
}

.description{
    text-align: center;
    background: #f4f4f4;
    padding: 20px 0px 20px 0px;
    & p{
        padding: 10px 50px 10px 50px;
        margin: 0px;
        font-size: 18px;
        font-family: "Roboto-bold";
    }
    & span{
        margin: 0px;
        font-size: 14px;
        font-family: "Roboto-light";
    }
    &_button{
        @include button()
    }
    & a{
        width: auto;
    }
}



.fonctionnement{
    margin: 30px 20px 0px 20px;
    &_titre{
        font-size: 22px;
        font-family: "Roboto-bold";
    }
    &__steps{
        margin: 10px;

    }
    &__step1{
        @include steps()
    }
    &__number1{
        @include numbers()
    }
    &__step2{
        @include steps();
    }
    &__step3{
        @include steps();
        & i{
            color: $primary-color;
        }
    }
    &__number2{
        @include numbers()
    }
    &__number3{
        @include numbers()
    }
    & a{
        text-decoration: none;
        color: black;
        margin: 10px;
    }


}

.restaurants{
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
    &_titre{
        margin-left: 20px;
            font-size: 22px;
            font-family: "Roboto-bold";
    }
    &_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px 0px 20px;
            & a{
                width: 100%;
                margin-bottom: 20px;
                text-decoration: none;
            }
            &_link1 {
               @include restaurants_links();
               background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
               background-position-y: -70px;
               @include new_icon();
            }
            &_link2{
                @include restaurants_links();
                background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
                background-position-y: -60px;
                @include new_icon();
            }
            &_link3{
                @include restaurants_links();
                background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
                background-position-y: -90px;
            }
            &_link4{
                @include restaurants_links();
                background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
                background-position-y: -80px;
            }
    }
}

footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2d2e2e;
    padding: 15px;
    color: white;
    font-size: 13px;
    & img{
        margin-bottom: 15px;
    }
    & a{
        display: inline-block;
        text-decoration: none;
        color: white;
        margin: 8px;
    }
    & p{
        margin: 0px;
    }
}
.footer{
    &_link1{
        display: flex;
        align-items: center;
        & p{
            margin-left: 10px;
        }
        & i{
            font-size: 1em;
        }
   
    }
    &_link2{
        display: flex;
        align-items: center;
        & p{
            margin-left: 10px;
        }
    } 
}

