@font-face {
  font-family: "Roboto";
  src: url(../roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(../roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-light";
  src: url(../roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../shrikhand/Shrikhand-Regular.ttf);
}

body {
  font-family: "Roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-bottom: solid 2px lightgrey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header img {
  width: 190px;
  height: auto;
}

header a {
  font-size: 24px;
  position: absolute;
  left: 5px;
  color: black;
  text-decoration: none;
}

.background img {
  height: auto;
  width: 100%;
}

.carte {
  position: relative;
  bottom: 50px;
  background-color: #f4f4f4;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carte_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.carte_head_titre {
  font-family: "Shrikhand";
  font-size: 20px;
}

.carte_head_like {
  font-size: 20px;
  margin-right: 10px;
}

.carte_head_like:hover {
  font-weight: bold;
  color: #9356dc;
}

.carte_entree {
  width: 100%;
}

.carte_entree_titre {
  font-family: "Roboto-light";
  border-bottom: #99e2d0 solid 2px;
  padding-bottom: 5px;
  width: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carte_entree_plat1 {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 3px lightgrey;
          box-shadow: 2px 2px 3px lightgrey;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.carte_entree_plat1 span {
  font-family: "Roboto-light";
  font-size: 13px;
}

.carte_entree_plat1_prix {
  position: relative;
  right: 10px;
  top: 10px;
}

.carte_entree_plat1_prix {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.carte_entree_plat1:hover {
  cursor: pointer;
}

.carte_entree_plat1:hover > .check {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_entree_plat1:hover > .carte_entree_plat1_prix {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_entree_plat2 {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 3px lightgrey;
          box-shadow: 2px 2px 3px lightgrey;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.carte_entree_plat2 span {
  font-family: "Roboto-light";
  font-size: 13px;
}

.carte_entree_plat2_prix {
  position: relative;
  right: 10px;
  top: 10px;
}

.carte_entree_plat2_prix {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.carte_entree_plat2:hover {
  cursor: pointer;
}

.carte_entree_plat2:hover > .check {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_entree_plat2:hover > .carte_entree_plat2_prix {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_entree_plat3 {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 3px lightgrey;
          box-shadow: 2px 2px 3px lightgrey;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
}

.carte_entree_plat3 span {
  font-family: "Roboto-light";
  font-size: 13px;
}

.carte_entree_plat3_prix {
  position: relative;
  right: 10px;
  top: 10px;
}

.carte_entree_plat3_prix {
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}

.carte_entree_plat3:hover {
  cursor: pointer;
}

.carte_entree_plat3:hover > .check {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_entree_plat3:hover > .carte_entree_plat3_prix {
  -webkit-transform: translateX(-65px);
          transform: translateX(-65px);
}

.carte_plat {
  width: 100%;
}

.carte_plat_titre {
  font-family: "Roboto-light";
  border-bottom: #99e2d0 solid 2px;
  padding-bottom: 5px;
  width: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carte_plat_plat {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 3px lightgrey;
          box-shadow: 2px 2px 3px lightgrey;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.carte_plat_plat span {
  font-family: "Roboto-light";
  font-size: 13px;
}

.carte_plat_plat_prix {
  position: relative;
  right: 10px;
  top: 10px;
}

.carte_dessert {
  width: 100%;
}

.carte_dessert_titre {
  font-family: "Roboto-light";
  border-bottom: #99e2d0 solid 2px;
  padding-bottom: 5px;
  width: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.carte_dessert_plat {
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 3px lightgrey;
          box-shadow: 2px 2px 3px lightgrey;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.carte_dessert_plat span {
  font-family: "Roboto-light";
  font-size: 13px;
}

.carte_dessert_plat_prix {
  position: relative;
  right: 10px;
  top: 10px;
}

.carte_button_commander {
  font-family: "Roboto-light";
  font-size: 13px;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  margin: 15px 0px 15px 0px;
  padding: 0px 15px 0px 15px;
  -webkit-box-shadow: 1px 1px 3px grey;
          box-shadow: 1px 1px 3px grey;
  cursor: pointer;
  margin-top: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #2d2e2e;
  padding: 15px;
  color: white;
  font-size: 13px;
}

footer img {
  margin-bottom: 15px;
}

footer a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 8px;
}

footer p {
  margin: 0px;
}

footer .footer_link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_link1 p {
  margin-left: 10px;
}

footer .footer_link1 i {
  font-size: 1em;
}

footer .footer_link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer_link2 p {
  margin-left: 10px;
}

.check {
  background-color: #99e2d0;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: -65px;
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
  overflow: hidden;
}
/*# sourceMappingURL=palette-du-gout.css.map */