@font-face{
    font-family: "Roboto";
    src: url(../polices/roboto/Roboto-Medium.ttf);
}
@font-face{
    font-family: "Roboto-bold";
    src: url(../polices/roboto/Roboto-Bold.ttf);
}
@font-face{
    font-family: "Roboto-light";
    src: url(../polices/roboto/Roboto-Light.ttf);
}
@font-face{
    font-family: "Shrikhand";
    src: url(../polices/shrikhand/Shrikhand-Regular.ttf);
}