body{
    font-family: "Roboto";
}

header{
    @include header-style_restaurants;
}

.background{
    height: 300px;
    overflow: hidden;
    img{
    width: 100%;
    }


}

.carte{
    position: relative;
    bottom: 100px;
    background-color: #f4f4f4;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    &_head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
        &_titre{
            font-family: "Shrikhand";
            font-size: 20px;
        }
        & .far{
            position: absolute;
            right: 30px;
            top: 25px;
            z-index: 2;
            font-size: 20px;
            color: black;
            &:hover{
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
            &:hover + .fas{
                animation: anim-coeur 0.3s ease-in-out 1 backwards;
                visibility: visible;
            }
        }
        & .fas{
            position: absolute;
            right: 30px;
            top: 25px;
            z-index: 1;
            font-size: 20px;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            visibility: hidden;               
        }
        @keyframes anim-coeur{
            0%{scale: 0;}
            80%{scale: 1.4;}
            100%{scale: 1;}
        }
    }
    &_entree{
        width: 100%;
        animation: fondu 1000ms 100ms;
	    animation-fill-mode: both;
        &_titre{
        @include titre_plat();
        }
        &_plat{
            @include carte_plat();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{
                transform: translateX(-65px);
            }
            &:hover > .carte_entree_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .carte_entree_plat_text{
                height: 40px;
                width: calc(100% - 110px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
        
    }
    &_plat{
        width: 100%;
        animation: fondu 1000ms 300ms;
	    animation-fill-mode: both;
        &_titre{
            @include titre_plat();
        }
        &_plat{
            @include carte_plat();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{ 
                transform: translateX(-65px);
            }
            &:hover > .carte_plat_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .carte_plat_plat_text{
                width: calc(100% - 110px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
    }
    &_dessert{
        width: 100%;
        	animation: fondu 1000ms 500ms;
	        animation-fill-mode: both;
        &_titre{
            @include titre_plat();
        }
        &_plat{
            @include carte_plat ();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{
                transform: translateX(-65px);
            }
            &:hover > .carte_dessert_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .carte_dessert_plat_text{
                height: 40px;
                width: calc(100% - 110px);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
    }
}
@keyframes fondu{
	0%{transform: translateY(10px); opacity: 0}
	100%{transform: translateY(0px); opacity: 1}
}



.footer_menu{
    @include footer-style();
    margin-top: -100px;
}


.check{
    background-color: $tertiary-color;
    color: white;
    padding: 50px 20px 50px 20px;
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    right: -65px;
    transition: transform 1000ms;
    overflow: hidden;
}

.fa-check-circle{
    transition: transform 1000ms;
}








/* ------------------------
  |      MEDIA QUERY 1    |
   ----------------------- */

@media all and (min-width:481px) and (max-width:640px){
    header{
        height: 40px;
        & a{
            font-size: 30px;
        }
    }
    .header_logo{
        width: 200px;
        height: auto;
    }
    .background{
        height: 350px;
        img{
            position: relative;
            bottom: 50px;
        }
    }
    .carte{
        &_entree{
            &_plat{
                height: 50px;
            }
        }
        &_plat{
            &_plat{
                height: 50px;
            }
        }
        &_dessert{
            &_plat{
                height: 50px;
            }
        }
        &_button_commander .description_button{
            font-size: 16px;
            height: 45px;
            width: 170px;
            border-radius: 40px;
            margin-top: 50px;
        }
    }
}




/* ------------------------
  |      MEDIA QUERY 2    |
   ----------------------- */


@media all and (min-width:641px) and (max-width:800px){
    header{
        height: 50px;
        & a{
            font-size: 30px;
        }
    }
    .header_logo{
        width: 220px;
        height: auto;
    }
    .background{
        height: 400px;
        img{ 
            position: relative;
            bottom: 85px;
        }
    }
    .carte{
        &_head{
            &_titre{
            font-size: 25px;
            }
            & .far{
                font-size: 25px;
            }
            & .fas{
                font-size: 25px;
            }
        }
        &_entree{
            &_plat{
                height: 50px;
                font-size: 16px;
                & span{
                    font-size: 14px;
                }
            }
        }
        &_plat{
            &_plat{
                height: 50px;
                font-size: 16px;
                & span{
                    font-size: 14px;
                }
            }
        }
        &_dessert{
            &_plat{
                height: 50px;
                font-size: 16px;
                & span{
                    font-size: 14px;
                }
            }
        }
        &_button_commander .description_button{
            font-size: 16px;
            height: 50px;
            width: 160px;
            border-radius: 40px;
            margin-top: 50px;
        }
    }
    .footer_menu{
        font-size: 16px;
    }
}




/* ------------------------
  |      MEDIA QUERY 3    |
   ----------------------- */


@media all and (min-width:801px) and (max-width:1024px){
    header{
        height: 60px;
        & a{
            font-size: 30px;
        }
    }
    .header_logo{
        width: 250px;
        height: auto;
    }
    .background{
        height: 450px;
        img{ 
            position: relative;
            bottom: 100px;
        }
    }
    .carte{
        &_head{
            &_titre{
            font-size: 25px;
            }
            & .far{
                font-size: 25px;
            }
            & .fas{
                font-size: 25px;
            }
        }
        &_entree{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-90px);
                }
                &:hover > .carte_entree_plat_prix{
                    transform: translateX(-90px);
                }
            }
        }
        &_plat{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-90px);
                }
                &:hover > .carte_plat_plat_prix{
                    transform: translateX(-90px);
                }
            }
        }
        &_dessert{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-90px);
                }
                &:hover > .carte_dessert_plat_prix{
                    transform: translateX(-90px);
                }
            }
        }
        &_button_commander .description_button{
            font-size: 17px;
            height: 60px;
            width: 180px;
            border-radius: 40px;
            margin-top: 50px;
        }
    }
    .check{
        padding: 50px 35px 50px 35px;
        right: -90px;
    }
    .footer_menu{
        font-size: 16px;
    }
}




/* ------------------------
  |      MEDIA QUERY 4    |
   ----------------------- */


@media all and (min-width:1025px) and (max-width:1600px){
    header{
        height: 65px;
        & a{
            font-size: 30px;
        }
    }
    .header_logo{
        width: 250px;
        height: auto;
    }
    .background{
        height: 550px;
        img{ 
            position: relative;
            bottom: 200px;
        }
    }
    .carte{
        &_head{
            &_titre{
            font-size: 25px;
            }
            & .far{
                font-size: 25px;
            }
            & .fas{
                font-size: 25px;
            }
        }
        &_entree{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_entree_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_plat{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_plat_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_dessert{
            &_plat{
                height: 70px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_dessert_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_button_commander .description_button{
            font-size: 18px;
            height: 70px;
            width: 200px;
            border-radius: 40px;
            margin-top: 50px;
        }
    }
    .check{
        padding: 50px 40px 50px 40px;
        right: -100px;
    }
    .footer_menu{
        font-size: 16px;
    }
}




/* ------------------------
  |      MEDIA QUERY 5    |
   ----------------------- */



@media all and (min-width:1601px){
    header{
        height: 70px;
        & a{
            font-size: 30px;
        }
    }
    .header_logo{
        width: 260px;
        height: auto;
    }
    .background{
        height: 600px;
        img{ 
            position: relative;
            bottom: 300px;
        }
    }
    .carte{
        &_head{
            &_titre{
            font-size: 25px;
            }
            & .far{
                font-size: 25px;
            }
            & .fas{
                font-size: 25px;
            }
        }
        &_entree{
            &_titre{
                font-size: 20px;
            }
            &_plat{
                height: 80px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_entree_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_plat{
            &_titre{
                font-size: 20px;
            }
            &_plat{
                height: 80px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_plat_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_dessert{
            &_titre{
                font-size: 20px;
            }
            &_plat{
                height: 80px;
                font-size: 16px;
                margin-bottom: 25px;
                & span{
                    font-size: 14px;
                }
                &:hover > .check{ 
                    transform: translateX(-100px);
                }
                &:hover > .carte_dessert_plat_prix{
                    transform: translateX(-100px);
                }
            }
        }
        &_button_commander .description_button{
            font-size: 18px;
            height: 70px;
            width: 200px;
            border-radius: 40px;
            margin-top: 50px;
        }
    }
    .check{
        padding: 50px 40px 50px 40px;
        right: -100px;
    }
    .footer_menu{
        font-size: 16px;
    }
}
