body{
    font-family: "Roboto";
}

header{
    @include header-style_restaurants;
}

.background img{
    height: 300px;
    width: 100%;
}

.carte{
    position: relative;
    bottom: 50px;
    background-color: #f4f4f4;
    border-radius: 20px 20px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    &_head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
        &_titre{
            font-family: "Shrikhand";
            font-size: 20px;
        }
        & .far{
            position: absolute;
            right: 30px;
            top: 25px;
            z-index: 2;
            font-size: 20px;
            color: black;
            &:hover{
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }
            &:hover + .fas{
                visibility: visible;
            }
        }
        & .fas{
            position: absolute;
            right: 30px;
            top: 25px;
            z-index: 1;
            font-size: 20px;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            visibility: hidden;               
        }

    }
    &_entree{
        width: 100%;
        animation: fondu 1000ms 100ms;
	    animation-fill-mode: both;
        &_titre{
        @include titre_plat();
        }
        &_plat{
            @include carte_plat();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{
                transform: translateX(-65px);
            }
            &:hover > .carte_entree_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
        
    }
    &_plat{
        width: 100%;
        animation: fondu 1000ms 300ms;
	    animation-fill-mode: both;
        &_titre{
            @include titre_plat();
        }
        &_plat{
            @include carte_plat();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{ 
                transform: translateX(-65px);
            }
            &:hover > .carte_plat_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
    }
    &_dessert{
        width: 100%;
        	animation: fondu 1000ms 500ms;
	        animation-fill-mode: both;
        &_titre{
            @include titre_plat();
        }
        &_plat{
            @include carte_plat ();
            overflow: hidden;
            &_prix{
                transition: transform 1000ms;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover > .check{
                transform: translateX(-65px);
            }
            &:hover > .carte_dessert_plat_prix{
                transform: translateX(-65px);
            }
            &:hover > .check > .fa-check-circle{
                transform: rotate(-360deg);
            }
        }
    }
}
@keyframes fondu{
	0%{transform: translateY(-20px); opacity: 0}
	100%{transform: translateY(0px); opacity: 1}
}



footer{
    @include footer-style();
}


.check{
    background-color: $tertiary-color;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 0px 15px 15px 0px;
    position: absolute;
    right: -65px;
    transition: transform 1000ms;
    overflow: hidden;
}

.fa-check-circle{
    transition: transform 1000ms;
}