@mixin loader {
    .container-background{
        z-index: 999;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0,0,0,0.3);
        animation: back 6s forwards;
        pointer-events: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 50%;
        top: 50%;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        margin: auto;
        animation: rotate-move 2s ease-in-out 3;
        &_logo{
            width: 100px;
            height: auto;
            animation: logo 2s ease-in-out 3;
            filter: invert(1);
        }
    }
    
    .dot { 
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    
    .dot-3 {
      background-color: #99e2d0;
      animation: dot-3-move 2s ease 3, index 6s ease 3;
    }
    
    .dot-2 {
      background-color: #ff79da;
      animation: dot-2-move 2s ease 3, index 6s -4s ease 3;
    }
    
    .dot-1 {
      background-color: #9356dc;
      animation: dot-1-move 2s ease 3, index 6s -2s ease 3;
    }
    
    @keyframes dot-3-move {
        0% {transform: scale(0)}
      20% {transform: scale(1)}
      30% {transform: translateY(-18px) scale(.45)}
      60% {transform: translateY(-90px) scale(.45)}
      80% {transform: translateY(-90px) scale(.45)}
      100% {transform: translateY(0px) scale(0)}
    }
    
    @keyframes dot-2-move {
        0% {transform: scale(0)}
      20% {transform: scale(1)}
      30% {transform: translate(-16px, 12px) scale(.45)}
      60% {transform: translate(-80px, 60px) scale(.45)}
      80% {transform: translate(-80px, 60px) scale(.45)}
      100% {transform: translateY(0px) scale(0)}
    }
    
    @keyframes dot-1-move {
        0% {transform: scale(0)}
      20% {transform: scale(1)}
      30% {transform: translate(16px, 12px) scale(.45)}
      60% {transform: translate(80px, 60px) scale(.45)}
      80% {transform: translate(80px, 60px) scale(.45)}
      100% {transform: translateY(0px) scale(0)}
    }
    
    @keyframes rotate-move {
      55% {transform: translate(-50%, -50%) rotate(0deg)}
      80% {transform: translate(-50%, -50%) rotate(360deg)}
      100% {transform: translate(-50%, -50%) rotate(360deg)}
    }
    
    @keyframes index {
      0%, 100% {z-index: 3}
      33.3% {z-index: 2}
      66.6% {z-index: 1}
    }
    @keyframes back {
        0% {opacity: 1;}
        99%{opacity: 0.9;}
        100%{opacity: 0;}
    }
    @keyframes logo{
        0% {transform: scale(0)}
        60% {transform: scale(1)}
        80% {transform: scale(1)}
        100% {transform: scale(0)}  
    }
}


@mixin steps {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 15px;
    box-shadow: 2px 2px 5px grey;
    padding: 0px 10px 0px 10px;
    font-size: 13px;
    margin-bottom: 20px;
    & i{
        color: grey;
        padding: 0px 20px 0px 0px;
    }
}
@mixin numbers {
    color: white;
    background-color: $primary-color;
    border-radius: 20px;
    padding: 3px 7px 3px 7px;
    position: relative;
    right: 20px;
}

@mixin restaurants_links {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -30px;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 4px grey;
        &_text{
            font-size: 11px;
            text-decoration: none;
            margin: 0px;
            color: black;
            background: white;
            border-radius: 0px 0px 15px 15px;
            padding: 10px 15px 10px 15px;
            position: relative;
            top: 100px;
            line-height: 15px;
            & .fa-heart1{
                z-index: 2;
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 17px;
                color: black;
                &:hover{
                    -webkit-text-fill-color: transparent;
                }
                &:hover + .fa-heart2{
                    visibility: visible;
                }
            }
            & .fa-heart2{
                z-index: 1;
                position: absolute;
                top: 15px;
                right: 20px;
                font-size: 17px;
                color: transparent;
                background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                visibility: hidden;               
            }
            & p{
                font-family: "Roboto-light";
                margin: 0px;
            }
            & span{
                font-family: "Roboto-bold";
                font-size: 13px;
            }
        }
}

@mixin new_icon {
    &_new{
        font-size: 11px;
        color: green;
        background-color: $tertiary-color ;
        padding: 5px 10px 5px 10px;
        border-radius: 3px;
        box-shadow: 1px 1px 3px black;
        width: min-content;
        position: absolute;
        top: 10px;
        right: 10px;
        & p{
            margin: 0px;
        }
    }   
}

@mixin button {
        font-family: "Roboto";
        font-size: 11px;
        text-align: center;
        color: white;
        background: linear-gradient(to top left, $primary-color, $secondary-color);
        border: none;
        height: 40px;
        border-radius: 20px;
        margin: 15px 0px 15px 0px;
        padding: 0px 20px 0px 20px;
        box-shadow: 1px 1px 3px grey;
        cursor: pointer;
}
@mixin titre_plat {
    font-family: "Roboto-light";
    border-bottom: $tertiary-color solid 2px;
    padding-bottom: 5px;
    width: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
@mixin carte_plat {
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 3px lightgrey;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    & span{
        font-family: "Roboto-light";
        font-size: 13px;
    }
    &_prix{
        position: relative;
        right: 10px;
        top: 10px;
        padding-left: 15px;
    }
}


