@mixin header-style_menu {
    text-align: center;
    padding: 10px;
    border-bottom: solid 2px lightgrey;
    background-color: white;
    & img{
        width: 190px;
        height: auto;
    }
}
@mixin header-style_restaurants {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: solid 2px lightgrey;
    align-items: center;
    position: relative;
    & img{
        width: 190px;
        height: auto;
    }
    & a{
        font-size: 25px;
        position: absolute;
        left: 15px;
        color: black;
        text-decoration: none;
    }
}